.container {
	width: 900px;
    padding: 20px;
    border: rgb(246, 50, 6);
    border-width: 50px;
    border-radius: 5px;
	margin-top: 0px;
	margin-left: 0px ;
    position: absolute;
	overflow:hidden;
}
body {
	font-family: "Audiowide", sans-serif;
	color: blue;
	font-size: 1rem;
	background-image: url("../stock.jpeg");
	background-size: cover;
}
h1 {
	display:inline;
	font-size: 30px;
	font-style: italic;
	width: 850px;
	height: 50px;
	/*border: 5px solid #0088dd;*/
	padding: 10px;
	margin: 0px auto 0px auto;
}
.dots {
	color:rgba(94, 146, 43, 0.621);
	font-size: 3.5em;
}
.dots01 {
	color:rgba(94, 146, 43, 0.621);
	font-size: 2.5em;
	pointer-events: none;
}
#welcome {
	display: block;
	border: dotted rgba(194, 246, 6, 0.635);
    border-width: 500px;
	transform: rotateX('60');
	color:rgba(94, 146, 43, 0.621);
	font-style:normal;
	font-size: 10rem;
	line-height: .55em;	
	width: 850px;
	height: 380px;
	/*border: 5px solid #0088dd;*/
	padding: 10px;
	margin: 0px auto 0px auto;
	overflow:visible;
}
#fall {
	display:block;
	width: 10px;
	right: 50%;
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 4.5em;
	line-height: .55em;
	width: 850px;
	height: 50px;
	/*border: 0px solid #0088dd;*/
	padding: 5px;
	margin: 0px auto 5px auto;
	text-align:right;
}
.exercises {
	display: block;
	width: 1410px;
	height: 500px;
	border:50px solidcolor #ddd900;
	padding:25px;
	margin:530px auto 530px auto;
	color: blue;
	font-weight: 600;
	font-style: italic;
	font-size: 2.4em;
	line-height: .9em;
	width: 850px;
	/*border: 5px solid #0088dd;*/
	padding: 5px;
	margin: 2px auto 10px auto;
	/*text-align:right;*/
}
h2 {
	display:inline;
	font-size: 2.5em;
	font-style: italic;
	width: 850px;
	height: 50px;
	/*border: 5px solid #0088dd;*/
	padding: 10px;
	margin: 0px auto 0px auto;
}
.definition01 {
	display:block;
	right: 50%;
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 155px;
	padding: 5px;
	margin: 10px auto 100px auto;
	text-align:left;
}
.definition02 {
	/*background-color:black;
	color: whitesmoke;*/
	border: dotted rgba(194, 246, 6, 0.635);
    border-width: 800px;
	display:inline-block;
	width: 10px;
	right: 50%;
	/*border: 2px solidcolor #ddd900;*/
	font-style:normal;
	font-size: 1.2em;
	line-height: 1.5em;
	width: 50px;
	height: 1000px;
	/*border: 0px solid #0088dd;*/
	padding: 0px;
	margin: 0px auto 0px auto;
	text-align:left;
}
.text {
	background-color:rgb(247, 250, 208);
	/*color: whitesmoke;*/
	display:block;
	width: 10px;
	right: 50%;
	/*border: dotted rgb(246, 6, 6);
    border-width: 400px;*/
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 425px;
	padding: 50px;
	margin: 0px auto 0px auto;
	text-align:left;
}
.nextpage {
	display:inline;
	font-size: 2.5em;
	font-style: italic;
	width: 850px;
	height: 500px;
	/*border: 5px solid #0088dd;*/
	padding: 10px;
	margin: 0px auto 0px auto;
}
.dots02 {
	color:rgba(94, 146, 43, 0.621);
	font-size: 1em;
}
h3 {
	display:inline;
	font-size: 2.5em;
	font-style: italic;
	width: 850px;
	height: 50px;
	/*border: 5px solid #0088dd;*/
	padding: 10px;
	margin: 0px auto 0px auto;
}
.text01 {
	max-height: 250px;
	overflow: scroll;
	background-color:rgb(247, 250, 208);
	/*color: whitesmoke;*/
	display:block;
	width: 10px;
	right: 50%;
	/*border: dotted rgb(246, 6, 6);
    border-width: 400px;*/
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 1750px;
	padding: 50px;
	margin: 0px auto 0px auto;
	text-align:left;
}
.block {
	background-color:rgb(247, 250, 208);
	/*color: whitesmoke;*/
	display:block;
	width: 10px;
	right: 50%;
	/*border: dotted rgb(246, 6, 6);
    border-width: 400px;*/
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 300px;
	padding: 50px;
	margin: 20px auto 0px auto;
	text-align:center;
}
.text02 {
	max-height: 500px;
	overflow: scroll;
	background-color:rgb(247, 250, 208);
	/*color: whitesmoke;*/
	display:block;
	width: 10px;
	right: 50%;
	/*border: dotted rgb(246, 6, 6);
    border-width: 400px;*/
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 1400px;
	padding: 50px;
	margin: 0px auto 0px auto;
	text-align:left;
}
.definition03 {
	display:block;
	right: 50%;
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 750px;
	height: 130px;
	padding: 5px;
	margin: 10px auto 50px auto;
	text-align:left;
}