.container {
    background-color: rgba(0, 0, 0, 0); 
    width: 1500px;
    height: 2000px;
    position: fixed;
    overflow:hidden;
}
.landing01 {
    display:block;
	right: 50%;
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 600px;
	height: 155px;
	padding: 60px;
	margin: 300px auto 300px auto;
	text-align:center;
	cursor: pointer;	
}
.landing01:hover {
	/* background-color: #ddd900; */
	/* color:aquamarine; */
	cursor: pointer;
	text-decoration: line-through;
}

#underlinenone {
	text-decoration: none;
	color: black;
}

#underlinenone:visited {
	/* color: aquamarine; */
}

#underlinenone:active {
	color:black
}

.landing02 {
    display:block;
	right: 50%;
	border: 2px solidcolor #ddd900;
	font-style:normal;
	font-size: 1.3em;
	line-height: 1.5em;
	width: 600px;
	height: 276px;
	padding: 19px;
	margin: 300px auto 300px auto;
	text-align:center;
	cursor: pointer;
}

.landing02:hover {
	/* background-color: #ddd900; */
	color:black;
	cursor: pointer;
	text-decoration: line-through;
}